.Foto {
    display: flex;
    flex-grow: 1;
    }

.Desc{
    width: 70%;
    max-width: 450px;
    padding: 8px;
    margin: 10px auto;
    line-height: 1.3;
    font-size: 14px;
    background-color: #f8f8f8; /* Opcional: darle un fondo más compacto */
    border-radius: 5px;

}