body {
    font-family: Unica One;
    margin: 20px;
    background-color: #EAEAEA;
}

.Anbp{
    font-size: 85px;
}
.Sudp{
    font-size: 85px;
}
.Acadp{
    font-size: 85px;
}
.Lámpp{
    font-size: 85px;
}
.Señp{
    font-size: 85px;
}
.DA {
    font-family: Montserrat;
    font-size: 30px;
    text-align: justify;
    
}
.Dl {
    font-family: Montserrat;
    font-size: 30px;
    text-align: justify;
}
.Ds {
    font-family: Montserrat;
    font-size: 30px;
    text-align: justify;  
}
.Btn {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.Proy {
    font-size: 35px;
    text-align: center;
    color:white;
    background-color:#F08200; 
    text-decoration:none;
    border-radius: 10px;
    cursor:auto;
    transition: background-color 0.3s ease;
    border:none;   
}

.Proy:hover {
    color:white;
    background-color: black;
}

.Dsl {
    font-family: Montserrat;
    text-align: justify;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
.Anbp{
    font-size: 60px;
}
.Sudp{
    font-size: 60px;
}
.Señp{
    font-size: 60px;
}
.Lámpp{
    font-size: 60px;
}
.Acadp {
    font-size: 55px;
}

}