body {
    font-family:"Unica One"; 
    margin: 60px;
    background-color: #EAEAEA;
}

.N1 {    
    align-content: center;
    text-align: center;
}

.Academia {
    font-size: 35px;
    text-align: center;
    color:white;
    background-color:#F08200; 
    text-decoration:none;
    border-radius: 10px;
    cursor:auto;
    transition: background-color 0.3s ease;
    border:none;
}
    
.Academia:hover {
    color: white;
    background-color: black;
}

.Lámpara {
    font-size: 35px;
    text-align: center;
    color:white;
    background-color:#F08200; 
    text-decoration:none;
    border-radius: 10px;
    cursor:auto;
    transition: background-color 0.3s ease;
    border:none;   
}

.Lámpara:hover {
    color:white;
    background-color: black;
}

.Anbox {
    font-size: 35px;
    text-align: center;
    color:white;
    background-color:#F08200; 
    text-decoration:none;
    border-radius: 10px;
    cursor:auto;
    transition: background-color 0.3s ease;
    border:none;   
}

.Anbox:hover {
    color:white;
    background-color: black;
}

.Señal {
    font-size: 35px;
    text-align: center;
    color:white;
    background-color:#F08200; 
    text-decoration:none;
    border-radius: 10px;
    cursor:auto;
    transition: background-color 0.3s ease;
    border:none;   
}

.Señal:hover {
    color:white;
    background-color: black;
}
.N3 {
    align-content: center;
    text-align: center;
}
.Sudadera {
    font-size: 35px;
    text-align: center;
    color:white;
    background-color:#F08200; 
    text-decoration:none;
    border-radius: 10px;
    cursor:auto;
    transition: background-color 0.3s ease;
    border:none;   
}

.Sudadera:hover {
    color:white;
    background-color: black;
}
.Boton {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

