body {
    font-family:"Unica One"; 
    margin: 60px;
    background-color: #EAEAEA;
}

.N1 {    
    align-content: center;
    text-align: center;
}

.Acad {
    font-size: 35px;
    text-align: center;
    color:white;
    background-color:#F08200; 
    text-decoration:none;
    border-radius: 10px;
    cursor:auto;
    transition: background-color 0.3s ease;
    border:none;
}
    
.Acad:hover {
    color: white;
    background-color: black;
}

.Lámp {
    font-size: 35px;
    text-align: center;
    color:white;
    background-color:#F08200; 
    text-decoration:none;
    border-radius: 10px;
    cursor:auto;
    transition: background-color 0.3s ease;
    border:none;   
}

.Lámp:hover {
    color:white;
    background-color: black;
}

.Anb {
    font-size: 35px;
    text-align: center;
    color:white;
    background-color:#F08200; 
    text-decoration:none;
    border-radius: 10px;
    cursor:auto;
    transition: background-color 0.3s ease;
    border:none;   
}

.Anb:hover {
    color:white;
    background-color: black;
}

.Señ {
    font-size: 35px;
    text-align: center;
    color:white;
    background-color:#F08200; 
    text-decoration:none;
    border-radius: 10px;
    cursor:auto;
    transition: background-color 0.3s ease;
    border:none;   
}

.Señ:hover {
    color:white;
    background-color: black;
}
.N3 {
    align-content: center;
    text-align: center;
}
.Sud {
    font-size: 35px;
    text-align: center;
    color:white;
    background-color:#F08200; 
    text-decoration:none;
    border-radius: 10px;
    cursor:auto;
    transition: background-color 0.3s ease;
    border:none;   
}

.Sud:hover {
    color:white;
    background-color: black;
}
.Boton {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
.Boton{
    width: 50%;
}
.Señ, .Acad, .Anb, .Lámp, .Sud{
    font-size: 10px;
}
}