body {
    font-family: Unica One;
    margin: 50px;
    background-color: #EAEAEA;
}


@media only screen and (max-widht:600px) {
    
.Anbox, .Lámpara, .suadera, .Sluminosa, .Academia{
font-size:10px;
}

}
.Anbox{
    font-size: 85px;
}
.sudadera {
    font-size: 85px;
}
.Academia {
    font-size: 85px;
}
.Lámpara {
    font-size: 85px;
}
.Sluminosa {
    font-size: 85px;
}
.DA {
    font-family: Montserrat;
    font-size: 30px;
    text-align: justify;
    
}
.Dl {
    font-family: Montserrat;
    font-size: 30px;
    text-align: justify;
}
.Ds {
    font-family: Montserrat;
    font-size: 30px;
    text-align: justify;  
}
.Btn {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.proyectos{
    color:#F08200 ;
    text-decoration: none;
}

.Dsl {
    font-family: Montserrat;
    text-align: justify;
    font-size: 30px;
}

