body {
    font-family: Unica One;
    margin: 10px;
    background-color: #EAEAEA;
}

.Anbp{
    font-size: 85px;
    position: relative;
    text-transform: uppercase;
    width: fit-content;
}
.Anbp::after{
    content: "";
  width: 100%;
  height: .2em;
  background: #F08200;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.Sudp{
    font-size: 85px;
    position: relative;
    text-transform: uppercase;
    width: fit-content;
}
.Sudp::after{
    content: "";
  width: 100%;
  height: .2em;
  background: #F08200;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.Acap {
    font-size: 85px;
    position: relative;
    text-transform: uppercase;
    width: fit-content;
}
.Acap::after{
    content: "";
  width: 100%;
  height: .2em;
  background: #F08200;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.Lámpp{
    font-size: 85px;
    position: relative;
    text-transform: uppercase;
    width: fit-content;
}
.Lámpp::after{
    content: "";
  width: 100%;
  height: .2em;
  background: #F08200;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.Señp{
    font-size: 85px;
    position: relative;
    text-transform: uppercase;
    width: fit-content;
}
.Señp::after{
    content: "";
  width: 100%;
  height: .2em;
  background: #F08200;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.DA {
    font-family: Montserrat;
    font-size: 30px;
    text-align: justify;
    
}
.Dl {
    font-family: Montserrat;
    font-size: 30px;
    text-align:justify;
}
.Ds {
    font-family: Montserrat;
    font-size: 30px;
    text-align: justify;  
}
.Btn {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.Proy {
    font-size: 35px;
    text-align: center;
    color:white;
    background-color:#F08200; 
    text-decoration:none;
    border-radius: 10px;
    cursor:auto;
    transition: background-color 0.3s ease;
    border:none;   
}

.Proy:hover {
    color:white;
    background-color: black;
}

.Dsl {
    font-family: Montserrat;
    text-align: justify;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
.Anbp{
    font-size: 60px;
}
.Sudp{
    font-size: 60px;
}
.Señp{
    font-size: 60px;
}
.Lámpp{
    font-size: 60px;
}
.Acap {
    font-size: 55px;
}

.Da{
    text-align: left;
    font-size: 20px;
}
.Dl{
    text-align: left;
    font-size: 20px;
}
.DA{
    text-align: left;
    font-size: 20px;
}

.Dsl{
    text-align: left;
    font-size: 20px;
}
.Ds{
    text-align: left;
    font-size: 20px;
}
}
@keyframes moverBorde {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

.Sudp::after,
.Anbp::after,
.Acap::after,
.Señp::after,
.Lámpp::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 0.1em;
  width: 100%;
  background: linear-gradient(90deg, black, #F08200, black,#F08200);
  background-size: 300%;
  animation: moverBorde 3s linear infinite;
}

