body {
        font-family: "Unica One", sans-serif;
        
}
.Direcc{
  float:right;
  margin: 10px;
}

.MayrT {
  text-align: center;
}
justify-content .Direcc { 
  justify-content:flex-end;
}
      

